 <h1>3rd Example</h1>

 <p>{{ message }}</p>

<table style="width:100%">
    <thead>
	   <tr>
		<th>Name</th><th>Description</th><th>Active</th><th>Created At</th><th>Options</th><th>Visible</th>
	   </tr>
    </thead>
    
    
  <input type="text" ng-model="nameflt.Name">
    
  <tr ng-repeat="channel in channels | filter:nameflt">
      <td>{{channel.Name}}</td>
      <td>Index->{{$index}}</td>
      <td><button type="button" ng-click="changeActive(channel.id)">{{channel.Active}}</button></td>
      <td>{{channel.CreatedAt}}</td>
      <td><button type="button" ng-click="deleteChannel(channel.id)">Delete!</button></td>
      <td><input type="checkbox" ng-model="channel.Visible">Visible</td>
  </tr>

</table>